<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes voyages{% endblock %}</title>
        <link rel="icon" href="data:image/svq xmlns=%22http://www.w3.o
        {% block stylesheets %}
        {% endblock %}

            
    </head>
    <body>
        {% block body %}
        <hl>Page d'accueil</hl>
        {% endblock %}
    </body>
</html>
